<!doctype html>
<html>
    <head>
        <title>АПИ Сал вам аписал</title>
        <meta charset="utf-8" />
    </head>
    <body>
        {{range .}}
            <h2>{{.Title}}</h2>
            <p>{{.Description}}</p>
            <sup>{{.Point.Lat}},{{.Point.Lon}}</sup>
            {{if .Images}}
                <ul>
                    {{range .Images}}
                        <li><img src="{{.Url}}" title="{{.Title}}" /></li>
                    {{end}}
                </ul>
            {{end}}
        {{else}}
            <p>Сорян, нет объектов.</p>
        {{end}}
    </body>
</html>
